@import url(conteudos.css);
@import url(poemas.css);

* {
    user-select: none;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #8FAEDD;

    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 360px) {
    header {
        flex-direction: column;

        gap: 12px;
        
        height: 25vh;

        padding: 8px 0;
    }
}

header h2 {
    font-size: 2rem;

    text-align: center;

    color: white;
}

@media only screen and (max-width: 936px) {
    header h2 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 612px) {
    header h2 {
        width: 30%;

        display: flex;
        justify-content: center;

        font-size: 2.25rem;
    }
}
@media only screen and (max-width: 52px){
    header h2 {
        font-size: 2.15rem;
    }
}

header div {
    width: 30%;
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

@media only screen and (max-width: 360px) {
    header div {
        width: 90%;
        height: 25%;
    }
}

header div label {
    width: 10%;
    height: 80%;

    position: absolute;
    top: 10%;
    left: 0px;
}

@media only screen and (max-width: 912px) {
    header div label {
        left: 4px;
    }
}


header div label img {
    width: 100%;
    height: 100%;

    color: #8FAEDD;
}

header input {
    width: 100%;
    height: 100%;

    padding-left: 48px;
    padding-right: 16px;

    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;

    border: transparent;
    border-radius: 20px;
}

@media only screen and (max-width: 704px){
    header input{
        padding-left: 28px;

        font-size: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    header input {
        width: 85%;

        padding-left: 32px;
    }
}

header ul {
    width: 33%;

    display: flex;
    justify-content: space-around;

    list-style: none;
    text-decoration: none;
}

@media only screen and (max-width: 704px) {
    header ul {
        width: 30%;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 2rem;

        gap: 8px;
    }
}

@media only screen and (max-width: 360px) {
    header ul {
        width: 100%;

        flex-direction: row;

        font-size: 1.75rem;
    }
}

header ul li {
    font-size: 1.3rem;

    text-align: center;

    color: white;
}

@media only screen and (max-width: 912px){
    header ul li{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 704px){
    header ul li {
        font-size: 1.25rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boas-vindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 72px;

    font-family: "Poppins", sans-serif;
    text-align: center;
}

@media only screen and (max-width: 612px){
    .boas-vindas {
        width: 80%;
    }
}

.boas-vindas h3 {
    font-size: 3rem;
}

.boas-vindas h4 {
    font-size: 2.25rem;

    margin-top: 4px;
}

.boas-vindas h2 {
    font-size: 3.25rem;
    font-weight: bold;
    letter-spacing: 2px;

    margin-top: 16px;

    color: #8FAEDD;
}

.introducao {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    text-align: center;

    margin-top: 48px;
    width: 50%;

    color: #293F8A;
}

@media only screen and (max-width: 612px){
    .introducao {
        width: 70%;
    }
}

.sections-conteudo {
    font-family: "Poppins", sans-serif;

    margin-top: 56px;
}

.sections-conteudo h2 {
    font-size: 1.7rem;
    font-weight: bold;

    margin: 8px 8px;
}

.sections-conteudo h2 span {
    color: #8FAEDD;
}

.section-ultimos-poemas {
    width: 100%;
    height: 30vh;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 32px;

    overflow-x: hidden;

    background-color: #DFE9F5;
}

.section-ultimos-poemas a {
    width: 25rem;
    height: 85%;
}