* {
    user-select: none;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #8FAEDD;

    font-family: "Poppins", sans-serif;
}

header h2 {
    font-size: 2rem;

    color: white;
}

header div {
    width: 30%;
    height: 35%;

    visibility: none;

    position: relative;
}
header div label {
    width: 10%;
    height: 80%;

    visibility: none;

    position: absolute;
    top: 10%;
    left: 0px;
}


header input {
    width: 100%;
    height: 100%;

    padding-left: 48px;
    padding-right: 16px;

    display: none;

    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;

    border: transparent;
    border-radius: 20px;
}

header ul {
    width: 33%;

    display: flex;
    justify-content: space-around;

    list-style: none;
    text-decoration: none;
}
header ul li {
    font-size: 1.3rem;

    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boas-vindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 48px;
    padding: 8px;

    font-family: "Poppins", sans-serif;
}

.boas-vindas h3 {
    font-size: 2.5rem;
}
.boas-vindas h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

    margin-top: 8px;

    color: #8FAEDD;
}

.pesquisar_conteudo {
    width: 30%;
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 16px;

    position: relative;
}
.pesquisar_conteudo label {
    width: 10%;
    height: 80%;

    position: absolute;
    top: 10%;
    left: 8px;
}
.pesquisar_conteudo label img {
    width: 100%;
    height: 100%;

    color: #8FAEDD;
}

.pesquisar_conteudo-input {
    width: 100%;
    height: 6vh;

    padding-left: 64px;
    padding-right: 16px;

    background-color: #E4E4E4;

    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;

    color: #0A599B;

    border: 1px solid black;
    border-radius: 20px;
}
.pesquisar_conteudo-input::placeholder {
    color: rgba(10, 89, 155, 0.5);
}

.conteudos-estudos {
    width: 90%;

    margin-top: 40px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Poppins", sans-serif;
}

.dropdown-conteudo {
    background-color: #DFE9F5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 7vh;

    padding: 8px;
    margin-bottom: 16px;

    border-radius: 30px;
}

.dropdown-conteudo h2 {
    font-size: 1.5rem;

    font-weight: 500;
}

.toplay {
    width: 10vw;
    height: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    margin-right: 16px;

    font-weight: 500;
    font-size: 1.5rem;
}

.toplay img {
    height: 100%;
}